
            /* find in the tag with class tag
               if there is no dot '.' then
               it will find the tag card */
            .card {
                /* padding: 50px 5px 30px 5px; */
                /* background-color: aqua; */
                width: 500px;
                border: 1px solid lightgray;
            }

            /* Search for image tag inside .card */
            .card img {
                width: 100%;
            }

            h1{
                color:red;
            }

            .card h2 {
                color: grey;
                padding: 15px;
            }

            .card p{
                font-size: 20px;
                padding: 15px;
            }

            .card a{
                padding: 15px;
                color: black;
            }